body {
  background-color: #FAFAFA;
  margin: 0;
  text-align: center;
  padding: 90px 30px 35px;
  font-family: Poppins, sans-serif;
  color: #4C4E61;
}

/*---------------header-----------*/
h1 {
  font-size: 1.41rem;
  font-weight: 200;
  font-stretch: expanded;
  margin: 0;
}

 h2 {
   font-size: 1.41rem;
   font-weight: 600;
   margin: 15px 0 30px;
   line-height: 1;
 }

 .header {
   max-width: 520px;
 }
 .header > p {
   color: #A3A5Ae;
   margin: 0;
   font-size: 0.95rem;
 }


/*---------------cards-----------*/
.container {
  margin-top: 76px;
}

.cards {
  margin-top: 25px;
  height: 162px;
  max-width: 350px;
  text-align: left;
  padding: 30px 30px;
  box-shadow: 0 8px 10px #AAA4AD;
  border-radius: 6px;
}

.cards > h3 {
    margin: 0;
}

.cards > p {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #A3A5Ae;
}

.supervisor {
  background-image: url("images/icon-supervisor.svg");
  background-repeat: no-repeat;
  background-position: bottom 29px right 29px;
  border-top: 5px solid #45D3D3;
}

.team {
  background-image: url("images/icon-team-builder.svg");
  background-repeat: no-repeat;
  background-position: bottom 29px right 29px;
  border-top: 5px solid #EA5353;
}

.karma {
  background-image: url("images/icon-karma.svg");
  background-repeat: no-repeat;
  background-position: bottom 29px right 29px;
  border-top: 5px solid #FCAF4A;
}

.calculator {
  background-image: url("images/icon-calculator.svg");
  background-repeat: no-repeat;
  background-position: bottom 29px right 29px;
  border-top: 5px solid #549EF2;
}


/*------atributtion styles-------*/

.attribution {
  font-size: 11px; text-align: center;
  margin-top: 27px;
}
.attribution a {
  color: #3E52A3;
}

/*----------media query 500px----------*/
@media (min-width: 500px) {
  .header {
    margin: 0 auto;
  }
  .cards {
    margin: 25px auto 0;
  }
}
/*----------media query 700px----------*/
@media (min-width: 700px) {
  .header {
    margin: 0 auto;
  }
  .cards {
    margin: 30px auto 0;
  }
  h1, h2 {
    font-size: 1.86rem;
  }
  .container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    max-width: 1114px;
    margin: 67px auto 0;
  }
}

/*----------media query----------*/
@media (min-width: 1000px) {
  .container {
    align-items: center;
  }
}
